.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* slide up*/
.splash-screen {
  animation: slideUp 1.5s forwards;
  z-index: 1000;
  animation-delay: 1.45s;
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.gradient-background {
  background: linear-gradient(to right, #954aff 10%, #431e4e 50%, #181a1b 90%);
}

/* Reset the margin and padding for body and html */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Ensure the root div takes the full height */
#root {
  height: 100%;
}

/* Add distinct background colors for debugging */
body {
  background-color: red; /* For debugging */
}

#root {
  background-color: blue; /* For debugging */
}

.splash-screen {
  background-color: yellow; /* For debugging */
}